body {
    background-color: #1f2226;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 400px;
    height: 600px;
    border-radius: 6px;
    background-color: #141517;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.logo {
    width: 150px;
    margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: #1c1e21;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #088ccf;
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #066ba6;
}

.error {
    color: #ff4242;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.login-link {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}